$primary-color: #7159c1;
$secundary-color: #9b49c1;

$primary-text-color: #000;
$secondary-text-color: #fff;
$error-text-color: red;

$primary-font: 'Helvetica', sans-serif;

$color_gradient: linear-gradient(112deg, rgba(113,89,193,1) 0%, rgba(155,73,193,1) 100%);
$color_bg: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

$viewport_smartphone: '360px';
$viewport_tablet: '720px';
$viewport_desktop: '1280px';
