.nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #f8f9fa;
    position: 'relative';

    nav {
        flex: 1;
        text-align: right;
    }

    button {
        width: 100px;
    }
}
